#loader {
  text-align: center;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all .3s ease;
  background-color: rgba(255, 255, 255, .9);
  opacity: 1;
  visibility: visible
}

#loader div {
  display: inline-block;
  width: 100rpx;
  height: 100rpx;
  vertical-align: middle;
  border-radius: 6rpx;
  background-color: #fff;
  box-shadow: 0 0 6rpx rgba(0, 0, 0, .15)
}

#loader div:before {
  content: '';
  width: 52rpx;
  height: 52rpx;
  display: block;
  margin: 16rpx auto 0;
  border-radius: 40rpx;
  animation: loading 1.5s linear forwards infinite;
  border-top: 8rpx solid #0089fa;
  border-right: 8rpx solid #ff002b;
  border-bottom: 8rpx solid #ffa900;
  border-left: 8rpx solid #00a753
}

#loader:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

@keyframes loading {
  100% {
      transform: rotate(360deg)
  }
}
